* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* variables declaration */
:root {
  --background-color: #010100;

  --text-primary: #f5f5f5;
  --text-secondary: #8f8f8f;

  --text-highlighted: #007fd1;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

p,
i,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
}

i {
  font-size: 1.5rem;
}

/* navigation section */
#navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  padding: 2rem;
  padding-right: 4rem;
  height: 100vh;
  border-right: 1px solid #8f8f8f42;
}

#logo-desktop {
  width: 8rem;
}

.navigation-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

#nav-profile {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/* stories and posts */
#stories-posts-container {
  flex-grow: 3;
}

.friends-profile p {
  color: var(--text-secondary);
  font-size: 14px;
  width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-border {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid var(--text-secondary);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

#stories {
  position: relative;
  padding: 1.25rem 1.25rem 0 1.25rem;
  display: flex;
  justify-content: space-between;
}

#stories img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-icon {
  color: var(--background-color);
  font-size: 1rem;
}

.posts-container {
  margin-top: 2.5rem;
  padding: 0 8rem;
}

.profile-three-dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-status {
  display: flex;
  align-items: center;
  gap: 6px;
}

.profile-status img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.profile-status i {
  color: var(--text-secondary);
  font-size: 5px;
}

.profile-status span {
  color: var(--text-secondary);
  font-size: 14px;
}

.three-dots {
  color: var(--text-secondary);
}

.image-slider-container {
  margin-top: 1rem;
}

.image-slider-container .image-container {
  height: 300px;
}

.image-slider-container .image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reactions-save {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.reactions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.reactions i:first-child:hover {
  color: red;
  cursor: pointer;
}

.image-like {
  margin: 0.6rem 0 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.image-like img {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
}

.image-like p {
  font-size: 0.85rem;
}

.name-caption .name,
.name-caption .caption {
  font-size: 0.8rem;
}

.name-caption .name {
  font-weight: 600;
}

.name-caption {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.view-all-comments {
  cursor: pointer;
  color: var(--text-secondary);
  margin-block: 0.3rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.comment-sticker {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-sticker .post-comment {
  background-color: transparent;
  border: none;
  outline: none;
  caret-color: var(--text-secondary);
}

.comment-sticker .post-comment::placeholder {
  color: var(--text-secondary);
  font-size: 0.8rem;
}

.comment-sticker i {
  color: var(--text-secondary);
  font-size: 0.8rem;
}

/* suggestions */
#suggestions-container {
  flex-grow: 2;
  padding-inline: 1.25rem;
}

.suggestion-profile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.image-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.image-name p {
  color: var(--text-secondary);
}

.switch-text {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--text-highlighted);
}

.suggestion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-suggestions .suggestion-item {
  margin-top: 1.25rem;
}

.all-suggestions .suggestion-item:first-child {
  margin-top: 0.7rem;
}

.suggestions-title {
  color: var(--text-secondary);
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 2.5rem;
}

.profile-status h5,
.suggestion-item h5 {
  letter-spacing: 1px;
}
